* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffe3e1b6;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #ff2e63;
  margin-bottom: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: 600;
}

.input-section {
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  transition: border 0.3s ease;
}

input:focus,
select:focus {
  border: 2px solid #f1f1f1;
  outline: none;
}

button {
  width: 100%;
  background-color: #ffc7c7;
  color: black;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f5637c;
  color: white;
}

.output-section {
  margin-top: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 20px;
  border-left: 6px solid #ff6b6b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  transition: transform 0.2s ease;
}

ul li:hover {
  transform: translateY(-5px);
}

.container::before {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, #ff6b6b, transparent);
  top: -50px;
  left: -50px;
  z-index: -1;
}

.container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, #ff6b6b, transparent);
  bottom: -50px;
  right: -50px;
  z-index: -1;
}

#regenerateButton {
  background-color: #ff6b6b;
  margin-top: 20px;
}

#regenerateButton:hover {
  background-color: #ff4757;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
